* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Play';
    src: url("../fonts/Play-Bold.ttf");
    font-weight: 700;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: #424551;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1270px;
    padding: 0 20px;
    margin: 0 auto;
}

.header-contacts {
    padding: 2px 0 3px 0;
    background: rgb(20, 157, 158);
}

.header-contacts .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-address {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.header-address span {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.header-phones {
    display: flex;
    align-items: center;
    column-gap: 31px;
}

.header-phone-item {
    display: flex;
    align-items: center;
    column-gap: 7px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.header-actions {
    padding: 6px 0 1px 0;
}

.header-actions .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 370px;
    margin-left: -13px;
}

.logo img {
    width: 100%;
}

.header-buttons {
    display: flex;
    column-gap: 26px;
    row-gap: 13px;
}

.btn {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    width: 285px;
    text-align: center;
    border: 0;
    transition: all .5s;
}

.btn-transparent {
    border: 3px solid #FF5A30;
    background: transparent;
    padding: 14px 14px 15px 14px;
    color: #17789B;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.btn-transparent:hover {
    background: #FF5A30;
    color: #FFFFFF;
}

.btn-blue {
    border: 3px solid #149D9E;
    background: #149D9E;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.btn-blue:hover {
    background: transparent;
    border: 3px solid #149D9E;
    color: #149D9E;
}

.spec-btn {
    border-radius: 9px;
    width: 240px;
    height: 50px;

    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    transition: all .3s;
    border: 1px solid rgb(2, 211, 151);
    box-sizing: border-box;
    background: transparent;
    color: rgb(2, 211, 151);
}

.spec-btn:hover {
    background: rgb(2, 211, 151);
    color: rgb(255, 255, 255);
}

.header-menu {
    background: #F5F5F5;
    padding: 18px 0 17px 0;
}

.header-menu .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 36px;
}

.menu-link {
    color: #424551;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    transition: all .3s;
}

.menu-link:hover {
    color: rgba(66, 69, 81, 0.6);
}

.search label {
    display: flex;
}

.search-btn {
    background: #FFFFFF;
    outline: none;
    border: 1px solid rgb(217, 217, 217);
    border-right: 0;
    border-radius: 14px 0 0 14px;
    height: 45px;
    box-sizing: border-box;
    font-size: 0;
    cursor: pointer;
    padding-left: 11px;
    padding-right: 11px;
}

.search-input {
    height: 45px;
    outline: none;
    border: 1px solid rgb(217, 217, 217);
    border-left: 0;
    border-radius: 0 14px 14px 0;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0 11px 0 4px;
}

.search-input,
.search-input::placeholder {
    color: rgb(163, 163, 163);
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.title {
    color: rgb(20, 157, 158);
    font-family: Ubuntu, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 121%;
}

.footer {
    padding: 24px 0 40px 0;
    background: rgb(239, 239, 239);
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
}

.footer-info .logo {
    margin-bottom: 17px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-title {
    color: rgb(20, 157, 158);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
}

.footer-info dl {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 38px;
}

.footer-info dt {
    color: rgb(66, 69, 81);
    margin-bottom: 5px;
}

.footer-info dd {
    color: rgb(20, 157, 158);
    margin-bottom: 5px;
}

.footer-license {
    display: flex;
    align-items: center;
    gap: 58px;
}

.footer-license a {
    text-decoration: none;
    color: rgb(66, 69, 81);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.footer-menu-items {
    list-style: none;
}

.footer-menu-item {
    margin-bottom: 8px;
}

.footer-menu-item .menu-link {
    color: rgb(66, 69, 81);
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.footer-contacts {
    max-width: 270px;
}

.footer-contacts p,
.footer-contacts a {
    color: rgb(66, 69, 81);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.footer-contacts a {
    text-decoration: underline;
}

.socials {
    margin-top: 28px;
    display: flex;
    gap: 13px;
}

.socials a {
    text-decoration: none;
    font-size: 0;
}

.popup {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: none;
    overflow-y: scroll;
}

.popup .container {
    background: #fff;
    padding: 23px 40px 62px 40px;
    max-width: 577px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 7px 12px 17px 0 rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.success-message {
    font-size: 36px;
    text-align: center;
    display: none;
    margin: 150px 0 150px 0;
}

.forward-title {
    color: rgb(66, 69, 81);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}

.forward-text {
    color: rgb(66, 69, 81);
    font-size: 20px;
    line-height: 1.5;
    max-width: 498px;
    margin: 0 auto 32px auto;
}

.name-input,
.phone-input,
.checkbox-input {
    margin-bottom: 29px;
}

.forward-form input[type='text'] {
    box-sizing: border-box;
    border: 1px solid rgb(255, 90, 48);
    border-radius: 20px;
    padding: 20px 25px 18px 25px;
    width: 426px;
    height: 59px;
    outline: 0;
    color: rgb(163, 163, 163);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

#phone {
    border-left: 0;
    border-radius: 0 20px 20px 0;
    width: 366px;
}

.phone-input {
    display: flex;
    justify-content: center;
}

.forward-form input[type='text']::placeholder {
    color: rgb(163, 163, 163);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.btn-number {
    padding: 15px 10px 13px 25px;
    color: rgb(163, 163, 163);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 90, 48);
    border-right: 0;
    border-radius: 20px 0 0 20px;
    background: transparent;
}

.checkbox-input {
    margin-top: 16px;
    margin-left: 60px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 17px;
    color: rgb(66, 69, 81);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.checkbox-input input {
    margin-top: 3px;
    width: 16px;
    height: 16px;
}

.forward-form .btn-blue {
    display: inline-block;
    margin: 20px auto 0 auto;
    width: 281px;
    height: 59px;
}

.error-input {
    color: red;
    margin-top: -25px;
    margin-bottom: 29px;
    text-align: left;
    margin-left: 60px;
    display: none;
}

.menu-burger,
.search-icon {
    display: none;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.close {
    display: none;
}

.header-menu-contacts {
    display: none;
}

.popup-close {
    display: none;
}

@media screen and (max-width: 1224px) {
    .header-phones {
        display: none;
    }

    .menu-burger,
    .search-icon,
    .close {
        display: block;
    }

    .header-actions {
        padding-bottom: 20px;
    }

    .header-menu {
        background: #149D9E;
        display: none;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25%;
        overflow-y: scroll;
        padding: 5px 0;
    }

    .header-menu .container {
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .header-menu-contacts p,
    .header-menu-contacts a {
        color: white;
    }

    .header-menu-contacts {
        margin-top: 80px;
        display: block;
    }

    .menu-items {
        flex-direction: column;
        gap: 15px;
        padding-top: 30px;
    }

    .menu-link {
        color: white;
    }

    .search {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .header-buttons {
        flex-direction: column;
    }

    .btn-blue,
    .btn-transparent {
        padding: 0;
        height: 45px;
        width: 260px;
    }

    .logo {
        max-width: 270px;
    }

    .adaptive-footer-contacts {
        display: none;
    }
}

@media screen and (max-width: 884px) {
    .header-menu {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .header-address {
        display: none;
    }

    .header-buttons {
        row-gap: 7px;
    }

    .btn-blue,
    .btn-transparent {
        width: 190px;
        font-size: 14px;
        height: 40px;
    }

    .header-menu {
        width: 50%;
    }

    .popup .container {
        width: 100%;
    }

    .popup-close {
        display: block;
        margin-left: auto;
    }

    .checkbox-input {
        margin-left: 1.75em;
    }

    .forward-form input[type='text'],
    #phone {
        width: 100%;
    }

    .footer-menu {
        display: none;
    }
}

@media screen and (max-width: 516px) {
    .forward-title {
        font-size: 24px;
    }

    .forward-text,
    .checkbox-input {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .footer-license {
        flex-wrap: wrap;
        gap: 15px;
    }

    .footer-info dl,
    .footer-license a {
        font-size: 16px;
    }
}

@media screen and (max-width: 424px) {
    .header-actions .container {
        flex-wrap: wrap;
    }

    .header-buttons {
        flex-direction: row;
        column-gap: 10px;
        width: 100%;
    }

    .btn-blue,
    .btn-transparent {
        width: 50%;
        font-size: 12px;
    }

    .header-menu {
        width: 75%;
    }
}