.banner {
    padding: 531px 0 50px 0;
    background-image: url("../img/banners/doctors-bg.png");
    background-position: top center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.banner::after {
    filter: blur(43px);
    background: rgba(255, 255, 255, 0.76);
    content: '';
    width: 100%;
    height: 261px;
    transform: rotate(0.62deg);
    position: absolute;
    bottom: -90px;
    left: -55px;
}

.banner-title {
    color: rgb(4, 103, 103);
    font-size: 56px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.specialists {
    padding: 66px 0;
}

.spec-title {
    font-size: 36px;
    line-height: 1.21;
    text-transform: uppercase;
    margin-bottom: 74px;
}

.spec-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 78px;
}

.specialist-item {
    width: 358px;
    position: relative;
    transition: all .3s;
    height: auto;
}

.specialist-item::before {
    filter: blur(40px);
    background: rgba(2, 211, 151, 0.55);
    content: '';
    width: 397px;
    height: 395px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    z-index: -1;
    border-radius: 50%;
    display: none;
    transition: all .3s;
}

.specialist-item:hover .spec-action {
    opacity: 1;
}

.specialist-item:hover::before {
    display: block;
}

.spec-img {
    height: 336px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.spec-img img {
    width: 100%;
    border-radius: 20px;
}

.spec-info {
    padding: 50px 20px 21px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(20, 157, 158);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.84);
    text-align: center;
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    height: 57%;
}

.spec-name {
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.21;
}

.spec-position {
    color: rgb(255, 90, 48);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.21;
}

.spec-description {
    color: rgb(0, 0, 0);
    font-size: 19px;
    line-height: 1.21;
}

.spec-action {
    margin-top: auto;
    text-align: center;
    opacity: 0;
    transition: all .5s;
}