.mySwiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper .swiper-horizontal > .swiper-pagination-bullets,
.mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: left;
    position: absolute;
    left: 105px;
    bottom: 52px;
    width: 745px;
}

.mySwiper .swiper-pagination-bullet {
    color: rgb(66, 69, 81);
    font-family: Ubuntu, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    width: 178px;
    height: 60px;
    margin: 0 4px;
    border-radius: 0;
    background: transparent;
    border-bottom: 2px solid rgb(66, 69, 81);
    opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
    color: rgb(20, 157, 158);
    border-bottom: 2px solid rgb(20, 157, 158);
    opacity: 1;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    transition: all .3s ease;
}

.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
    background: #FFFFFF;
}

.mySwiper .swiper-button-prev svg,
.mySwiper .swiper-button-next svg {
    width: 14px;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
    display: none;
}

.promo-info {
    position: absolute;
    bottom: 57px;
    left: 106px;
    width: 80%;
}

.promo-title {
    color: rgb(20, 157, 158);
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-bottom: 41px;
    display: inline-block;
}

.promo-title::before {
    content: '';
    width: 100%;
    height: 100%;
    transform: rotate(-4.74deg);
    position: absolute;
    filter: blur(44px);
    background: rgba(255, 255, 255, 0.84);
    top: 0;
    left: 0;
    z-index: -1;
}

.btn-more {
    border-radius: 9px;
    background: rgb(255, 90, 48);
    width: 186px;
    height: 52px;
    color: rgb(255, 255, 255);
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.btn-more:hover {
    background: rgb(248, 127, 95);
}

.adventures {
    padding: 44px 0 56px 0;
}

.adventures-title {
    text-align: center;
    line-height: 32px;
    margin-bottom: 65px;
}

.adventures-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adventure-item {
    padding-left: 45px;
    border-left: 3px solid rgb(6, 111, 112);
    position: relative;
    height: 133px;
    box-sizing: border-box;
}

.adventure-item:after {
    content: '';
    position: absolute;
    filter: blur(30px);
    background: rgba(2, 211, 151, 0.45);
    width: 166px;
    height: 166px;
    bottom: 5px;
    left: 15px;
    z-index: -1;
    border-radius: 50%;
}

.adventure-number {
    color: rgb(255, 90, 48);
    font-family: Play, sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 40px;
}

.adventure-text {
    color: rgb(6, 111, 112);
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
}

.services {
    padding: 56px 0 66px 0;
}

.service-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 49px;
}

.service-item {
    padding: 26px 25px 21px 26px;
    box-sizing: border-box;
    border: 1px solid rgba(20, 157, 158, 0.3);
    border-radius: 20px;
    width: 377px;
    height: 322px;
    box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, 0.13);
    background: linear-gradient(159.86deg, rgb(249, 249, 249) 24.666%, rgba(181, 222, 222, 0.82) 68.572%, rgba(20, 157, 158, 0.38) 172.13%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-head {
    display: flex;
    align-items: center;
    gap: 14px;
    transform: translateY(75%);
    transition: all .7s;
}

.service-item:hover .service-head {
    transform: translateY(0%);
}

.service-title {
    color: rgb(20, 157, 158);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.21;
}

.service-text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    opacity: 0;
    transition: all .7s;
}

.service-item:hover .service-text {
    opacity: 1;
}

.why {
    padding: 40px 0 54px;
    background: rgb(239, 239, 239);
    position: relative;
    overflow: hidden;
    /*background: url("../img/woman.png") bottom -214px right -315px no-repeat, linear-gradient(rgb(239, 239, 239) 0%, rgb(239, 239, 239) 100%);*/
}

.why-img-block {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0;
    z-index: 1;

}

.why::after {
    content: '';
    position: absolute;
    width: 496px;
    height: 520px;
    transform: rotate(156.17deg);
    filter: blur(135px);
    background: rgba(2, 211, 151, 0.36);
    right: -315px;
    bottom: 188px;
    font-size: 0;
}

.why-info-block {
    max-width: 744px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.why-title {
    color: rgb(255, 90, 48);
    margin-bottom: 23px;
}

.why-items {
    list-style: none;
}

.why-item {
    border-radius: 20px;
    max-width: 744px;
    background: linear-gradient(90.00deg, rgba(2, 211, 151, 0.36),rgba(255, 255, 255, 0.4) 100%);
    display: flex;
    gap: 10px;
    padding: 10px 35px 6px 119px;
    margin-bottom: 14px;
    height: 166px;
    box-sizing: border-box;
}

.why-info-title,
.why-info-text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.45;
}

.why-info-title {
    margin-bottom: 5px;
    font-weight: 700;
}

.why-info-text {
    font-weight: 400;
}

.catalog {
    padding: 51px 0 41px 0;
}

.catalog-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.head-action .btn {
    color: rgb(255, 90, 48);
}

.head-action .btn:hover {
    color: #FFFFFF;
}

.catalog-items {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    gap: 50px;
}

.catalog-item {
    position: relative;
    font-size: 0;
    transition: all .7s ease;
}

.catalog-item:hover {
    transform: scale(1.1);
}

#ultra-voice {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

#massage {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}

.catalog-link {
    text-decoration: none;
    font-size: 0;
}

.catalog-item img {
    width: 100%;
}

.catalog-name {
    position: absolute;
    border-radius: 9px;
    background: rgb(20, 157, 158);
    padding: 16px 19px;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    max-width: 213px;
}

.name-bottom .catalog-name {
    bottom: 17px;
    right: 17px;
}

.name-top .catalog-name {
    top: 17px;
    left: 17px;
}

.personal {
    background: rgb(20, 157, 158);
    padding: 42px 0 11px 0;
}

.personal-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.45;
    text-align: center;
    margin-bottom: 18px;
}

.personal-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
    max-width: 1020px;
    margin: 0 auto;
}

.swiper-personal {
    margin-top: 40px;
    width: 1414px;
}

.swiper-personal .swiper-slide {
    max-width: 223px;
    text-align: center;
}

.spec-img {
    width: 223px;
    height: 223px;
    border-radius: 20px;
    overflow: hidden;
}

.spec-img img {
    width: 100%;
}

.personal-name {
    margin: 7px 0 10px 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.14;
}

.personal-specialization {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1.14;
}

.swiper-personal-pagination {
    margin-top: 33px;
    text-align: center;
}

.swiper-personal .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: rgb(217, 217, 217);
    opacity: 1;
}

.swiper-personal .swiper-pagination-bullet-active {
    background: rgb(255, 255, 255);
}

.blog-news-section {
    padding: 62px 0 66px 0;
}

.blog-news-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-news-items {
    margin-top: 30px;
    list-style: none;
    display: flex;
    gap: 35px;
}

.blog-link,
.news-link {
    text-decoration: none;
    font-size: 0;
}

.blog-date {
    color: rgb(163, 163, 163);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

.blog-name {
    margin-top: 8px;
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.blog-news-item img {
    margin-left: -5px;
}

.all-blog,
.all-news {
    margin-top: 20px;
    color: rgb(255, 90, 48);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
}

.popup._type_normal._position_top {
    visibility: hidden; !important;
}

.map {
    padding: 66px 0 79px 0;
}

.map .container {
    border-radius: 20px;
    background: rgb(217, 217, 217);
    display: flex;
    justify-content: space-between;
    padding: 43px 52px 180px 43px;
}

.map-info,
.map-image {
    border-radius: 20px;
    background: rgb(255, 255, 255);
}

.map-info {
    padding: 36px 28px 28px 33px;
    max-width: 469px;
    box-sizing: border-box;
}

.map-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

.schedule-title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
    color: rgb(66, 69, 81);
}

.schedule {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(20, 157, 158);
}

.schedule-title-second {
    margin-top: 53px;
}

.schedule-day,
.schedule-time {
    margin-bottom: 10px;
}

.map-image {
    padding: 25px;
}

.map-frame {
    border-radius: 20px;
}

.reviews {
    padding: 62px 0;
    background: rgb(20, 157, 158);
}

.reviews .container {
    padding: 30px 35px 20px 35px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
}

.reviews-title {
    color: rgb(255, 90, 48);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.21;
}