<main>
    <section class="banner">
        <div class="container">
            <h1 class="title banner-title">Поликлиника ПГУПС</h1>
            <p class="banner-text">Забота о&nbsp;вашем здоровье в&nbsp;сердце Северной столицы</p>
        </div>
    </section>

    <section class="main-doctor">
        <div class="container">
            <div class="doctor-img">
                <img src="img/employees/khrustaleva.png" alt="">
            </div>
            <div class="doctor-info">
                <h2 class="doctor-name">Хрусталева Татьяна Михайловна</h2>
                <p class="doctor-position">Главный врач</p>
                <p class="doctor-more-info">
                    Образование: Стоматология
                </p>
                <p class="doctor-more-info">
                    Стоматолог-терапевт
                </p>
            </div>
        </div>
    </section>

    <section class="about-description">
        <div class="container">
            <p class="description-text">
                В&nbsp;нашей клинике работают опытные специалисты, которые с&nbsp;вниманием относятся к&nbsp;каждому
                пациенту. Это профессионалы, которые станут вашими партнёрами в&nbsp;сохранении здоровья.
            </p>
            <p class="description-text">
                Наша команда&nbsp;&mdash; более 20&nbsp;врачей различных специальностей. Среди них 17&nbsp;кандидатов
                медицинских наук, 9&nbsp;докторов медицинских наук, 3&nbsp;профессора, 1&nbsp;доцент.
            </p>
            <p class="description-text">
                В&nbsp;наших медицинских центрах работают врачи как самых востребованных медицинских специальностей:
                терапевты, кардиологи, урологи, гинекологи, офтальмологи, оториноларингологи, хирурги и&nbsp;другие.
            </p>
        </div>
    </section>

    <section class="reviews">
        <div class="container">
            <h2 class="reviews-title">Отзывы</h2>
            <iframe src="https://swdgts.ru/7c22d5a68f05b6a7040461c158c71324" width="100%" height="450"
                    frameborder="0"></iframe>
        </div>
    </section>
</main>
