<main>
  <section class="specialist">
    <div class="container">
      <div class="doctor">
        <div class="doctor-img">
          <img src="img/employees/khrustaleva.png" alt="" />
        </div>
        <div class="doctor-info">
          <h2 class="doctor-name">
            <span>Хрусталева</span><br />Татьяна Михайловна
          </h2>
          <p class="doctor-info-title">Специализация</p>
          <p class="doctor-more-info">Стоматолог - ортопед</p>
          <p class="doctor-info-title">Квалификационная категория</p>
          <p class="doctor-more-info">Доктор медицинских наук. Профессор</p>
          <p class="doctor-info-title">Стаж: 19 лет</p>
          <button class="btn-doctor btn-green forward-call">Записаться</button>
        </div>
      </div>
    </div>
  </section>

  <section class="education">
    <div class="container">
      <div class="education-info">
        <div class="edu-info">
          <h3 class="education-title">Образование</h3>
          <div class="edu-scrollbar" id="edu-scrollbar">
            <div class="edu-container">
              <div class="edu-icon">
                <img src="img/icons/education.png" alt="" />
                <div class="vertical-line"></div>
              </div>
              <div class="university">
                <p class="unevrsity-name">
                  Первый Санкт-Петербургский государственный медицинский
                  университет им. акад. И.П. Павлова
                </p>
                <p class="edu-year">1990</p>
                <p class="edu-direction">Стоматология</p>
                <p class="edu-type">Базовое образование</p>
              </div>
            </div>
            <div class="edu-container">
              <div class="edu-icon">
                <img src="img/icons/education.png" alt="" />
                <div class="vertical-line"></div>
              </div>
              <div class="university">
                <p class="unevrsity-name">
                  Первый Санкт-Петербургский государственный медицинский
                  университет им. акад. И.П. Павлова
                </p>
                <p class="edu-year">1996</p>
                <p class="edu-direction">Стоматология детская</p>
                <p class="edu-type">Повышение квалификации</p>
              </div>
            </div>
            <div class="edu-container">
              <div class="edu-icon">
                <img src="img/icons/education.png" alt="" />
                <div class="vertical-line"></div>
              </div>
              <div class="university">
                <p class="unevrsity-name">
                  Первый Санкт-Петербургский государственный медицинский
                  университет им. акад. И.П. Павлова
                </p>
                <p class="edu-year">2000</p>
                <p class="edu-direction">Стоматология терапевтическая</p>
                <p class="edu-type">Повышение квалификации</p>
              </div>
            </div>
            <div class="edu-container">
              <div class="edu-icon">
                <img src="img/icons/education.png" alt="" />
                <div class="vertical-line"></div>
              </div>
              <div class="university">
                <p class="unevrsity-name">
                  Первый Санкт-Петербургский государственный медицинский
                  университет им. акад. И.П. Павлова
                </p>
                <p class="edu-year">2006</p>
                <p class="edu-direction">Стоматология ортопедическая</p>
                <p class="edu-type">Повышение квалификации</p>
              </div>
            </div>
          </div>
        </div>
        <div class="edu-info">
          <h3 class="education-title">Сертификаты</h3>
          <div class="edu-scrollbar" id="edu-scrollbar">
            <div class="certificates">
              <img src="img/certificates/1.png" alt="" />
              <img src="img/certificates/2.png" alt="" />
              <img src="img/certificates/3.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="reviews">
    <div class="container">
      <div class="reviews-block">
        <h3 class="reviews-title">Отзывы</h3>
        <div class="reviews-page">
          <div class="review">
            <div class="stars">
              <img src="img/icons/star.svg" alt="" />
              <img src="img/icons/star.svg" alt="" />
              <img src="img/icons/star.svg" alt="" />
              <img src="img/icons/star.svg" alt="" />
              <img src="img/icons/star.svg" alt="" />
            </div>
            <p class="review-name">Аюна Ч.</p>
            <p class="review-date">05 марта 2024</p>
            <p class="review-body">
              Обращалась к Татьяне Михайловне за лечением в октябре 2023 г.
              Прошло почти полгода, и могу оставить честный отзыв. У меня было
              как восстановление более 1/2 зуба, так и лечение кариеса разной
              степени. Врач очень внимательный, вдумчивый, приветливый, работает
              очень оперативно. Ответила на все мои вопросы. Не смотря на то,
              что я боюсь стоматологов, мне было комфортно. Я могу смело
              рекомендовать данного специалиста. Вы не пожалеете о потраченных
              деньгах на свое здоровье и комфорт.
            </p>
          </div>
          <div class="review">
            <div class="stars">
              <img src="img/icons/star.svg" alt="" />
              <img src="img/icons/star.svg" alt="" />
              <img src="img/icons/star.svg" alt="" />
              <img src="img/icons/star.svg" alt="" />
              <img src="img/icons/star.svg" alt="" />
            </div>
            <p class="review-name">Никита Михайлович</p>
            <p class="review-date">05 марта 2024</p>
            <p class="review-body">
              Замечательный доктор. Пришла в клинику по рекомендации своих
              детей, которые лечатся у Татьяны Михайловны. Замечательный врач,
              внимательный, тактичный. Провела осмотр, составила план лечения.
              Аргументировала каждый шаг, ничего лишнего. И вот я, наконец, могу
              улыбаться, как хочу, а не как приходилось целый год, скрывая
              дефект передних зубов. Но лечение ещё не закончено. С
              удовольствием продолжу его у Татьяны Михайловны.
            </p>
          </div>
        </div>
        <div class="navigation">
          <button type="button" class="nav-review">
            <img src="img/icons/arrow-left.svg" alt="" />
          </button>
          <button type="button" class="nav-review">
            <img src="img/icons/arrow-right.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="other">
    <div class="container">
      <div class="other-more">
        <h3 class="other-title">Другие специалисты</h3>
        <button type="button" class="nav-other" id="nav-other">
          <img src="img/icons/arrow-left-red.svg" alt="" />
        </button>
      </div>
      <div class="swiper swiper-doctors">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="specialist-item">
              <a href="#/doctor" class="specialist-link">
                <div class="spec-img">
                  <img src="img/employees/khrustaleva.png" alt="" />
                </div>
                <div class="spec-info">
                  <h3 class="spec-name">
                    Хрусталева <br />
                    Татьяна Михайловна
                  </h3>
                  <p class="spec-position">Врач-физиотерапевт</p>
                  <p class="spec-description">
                    Кандидат медицинских наук.
                    <br />
                    Врач высшей категории
                  </p>
                  <div class="spec-action">
                    <button class="btn spec-btn">Записаться</button>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="specialist-item">
              <a href="#/doctor" class="specialist-link">
                <div class="spec-img">
                  <img src="img/employees/khrustaleva.png" alt="" />
                </div>
                <div class="spec-info">
                  <h3 class="spec-name">
                    Хрусталева <br />
                    Татьяна Михайловна
                  </h3>
                  <p class="spec-position">Врач-физиотерапевт</p>
                  <p class="spec-description">
                    Кандидат медицинских наук.
                    <br />
                    Врач высшей категории
                  </p>
                  <div class="spec-action">
                    <button class="btn spec-btn">Записаться</button>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="specialist-item">
              <a href="#/doctor" class="specialist-link">
                <div class="spec-img">
                  <img src="img/employees/khrustaleva.png" alt="" />
                </div>
                <div class="spec-info">
                  <h3 class="spec-name">
                    Хрусталева <br />
                    Татьяна Михайловна
                  </h3>
                  <p class="spec-position">Врач-физиотерапевт</p>
                  <p class="spec-description">
                    Кандидат медицинских наук.
                    <br />
                    Врач высшей категории
                  </p>
                  <div class="spec-action">
                    <button class="btn spec-btn">Записаться</button>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="specialist-item">
              <a href="#/doctor" class="specialist-link">
                <div class="spec-img">
                  <img src="img/employees/khrustaleva.png" alt="" />
                </div>
                <div class="spec-info">
                  <h3 class="spec-name">
                    Хрусталева <br />
                    Татьяна Михайловна
                  </h3>
                  <p class="spec-position">Врач-физиотерапевт</p>
                  <p class="spec-description">
                    Кандидат медицинских наук.
                    <br />
                    Врач высшей категории
                  </p>
                  <div class="spec-action">
                    <button class="btn spec-btn">Записаться</button>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="specialist-item">
              <a href="#/doctor" class="specialist-link">
                <div class="spec-img">
                  <img src="img/employees/khrustaleva.png" alt="" />
                </div>
                <div class="spec-info">
                  <h3 class="spec-name">
                    Хрусталева <br />
                    Татьяна Михайловна
                  </h3>
                  <p class="spec-position">Врач-физиотерапевт</p>
                  <p class="spec-description">
                    Кандидат медицинских наук.
                    <br />
                    Врач высшей категории
                  </p>
                  <div class="spec-action">
                    <button class="btn spec-btn">Записаться</button>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-doctors-pagination"></div>
      </div>
    </div>
  </section>
</main>
