<main>
  <section class="banner">
    <div class="container">
      <h1 class="title banner-title">Мы заботимся о Вас!</h1>
    </div>
  </section>

  <section class="specialists">
    <div class="container">
      <h2 class="title spec-title">СПЕЦИАЛИСТЫ</h2>
      <ul class="spec-items">
        <li class="specialist-item">
          <a href="#/specialist" class="specialist-link">
            <div class="spec-img">
              <img src="../img/employees/khrustaleva.png" alt="" />
            </div>
            <div class="spec-info">
              <h3 class="spec-name">
                Хрусталева <br />
                Татьяна Михайловна
              </h3>
              <p class="spec-position">Стоматолог - ортопед</p>
              <p class="spec-description">
                Главный врач поликлиники ПГУПС.
                <br />
                Доктор медицинских наук. Профессор.
              </p>
              <div class="spec-action">
                <button class="btn spec-btn">Записаться</button>
              </div>
            </div>
          </a>
        </li>
        <li class="specialist-item">
          <a href="#/specialist" class="specialist-link">
            <div class="spec-img">
              <img src="../img/employees/khrustaleva.png" alt="" />
            </div>
            <div class="spec-info">
              <h3 class="spec-name">
                Хрусталева <br />
                Татьяна Михайловна
              </h3>
              <p class="spec-position">Терапевт</p>
              <p class="spec-description">
                Врач высшей категории. Заслуженный врач Забайкальского края
              </p>
              <div class="spec-action">
                <button class="btn spec-btn">Записаться</button>
              </div>
            </div>
          </a>
        </li>
        <li class="specialist-item">
          <a href="#/specialist" class="specialist-link">
            <div class="spec-img">
              <img src="../img/employees/khrustaleva.png" alt="" />
            </div>
            <div class="spec-info">
              <h3 class="spec-name">
                Хрусталева <br />
                Татьяна Михайловна
              </h3>
              <p class="spec-position">Хирург</p>
              <p class="spec-description">
                Главный хирург. Заместитель главного врача по хирургии. Онколог
                <br />
                Доктор медицинских наук. Профессор кафедры онкологии и
                паллиативной медицины.
              </p>
              <div class="spec-action">
                <button class="btn spec-btn">Записаться</button>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
