<main>
    <section class="banner">
        <div class="container">
            <h1 class="title banner-title">Поликлиника ПГУПС</h1>
            <p class="banner-text">Забота о&nbsp;вашем здоровье в&nbsp;сердце Северной столицы</p>
        </div>
    </section>
    <section class="about-docs">
        <div class="container">
            <ul class="docs-items">
                <li class="document">
                    <img src="img/icons/pdf.svg" alt="">
                    <a href="files/pologenie_poliklinika_pgups.pdf" class="document-name" target="_blank">
                        СМК РД 09.20-2019 «Положение о Поликлинике ФГБОУ ВО ПГУПС»
                    </a>
                </li>
                <li class="document">
                    <img src="img/icons/pdf.svg" alt="">
                    <a href="files/license.pdf" class="document-name" target="_blank">
                        Выписка из реестра лицензий Поликлиника
                    </a>
                </li>
                <li class="document">
                    <img src="img/icons/pdf.svg" alt="">
                    <a href="files/price.pdf" class="document-name" target="_blank">
                        Приказ № 808/К от 19.12.2022 Прейскурант на оказание платных медицинских услуг Поликлиники
                    </a>
                </li>
                <li class="document">
                    <img src="img/icons/pdf.svg" alt="">
                    <a href="files/base_info.docx" class="document-name" target="_blank">
                        Информация об учредителе образовательной организации
                    </a>
                </li>
                <li class="document">
                    <img src="img/icons/pdf.svg" alt="">
                    <a href="files/rules.pdf" class="document-name" target="_blank">
                        Правила внутреннего распорядка для посетителей Поликлиники ПГУПС
                    </a>
                </li>
                <li class="document">
                    <img src="img/icons/pdf.svg" alt="">
                    <a href="files/svidetelstvo-o-gos.registratsii.pdf" class="document-name" target="_blank">
                        Свидетельство о государственной регистрации
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="map">
        <div class="container">
            <div class="map-info">
                <h3 class="title map-title">Часы работы</h3>
                <p class="schedule-title">
                    Восстановительно-профилактическое отделение:
                </p>
                <div class="schedule">
                    <div class="schedule-days">
                        <p class="schedule-day">Понедельник - Суббота</p>
                        <p class="schedule-day">Воскресенье</p>
                    </div>
                    <div class="schedule-times">
                        <p class="schedule-time">8:30 до 20:30</p>
                        <p class="schedule-time">выходной</p>
                    </div>
                </div>
                <p class="schedule-title schedule-title-second">
                    Лечебно-диагностическое отделение:
                </p>
                <div class="schedule">
                    <div class="schedule-days">
                        <p class="schedule-day">Понедельник - Суббота</p>
                        <p class="schedule-day">Воскресенье</p>
                    </div>
                    <div class="schedule-times">
                        <p class="schedule-time">8:30 до 20:30</p>
                        <p class="schedule-time">выходной</p>
                    </div>
                </div>
            </div>
            <div class="map-image">
                <iframe
                        class="map-frame"
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A987c8bbcdc9ba29295e75ef0d8bc2350da37578c6074bd044d7006bdc3c4e33e&amp;source=constructor"
                        width="100%"
                        height="100%"
                        frameborder="0"
                ></iframe>
            </div>
        </div>
    </section>



</main>