<main>
    <section class="promo">
        <div class="container">
            <h1 class="title price-promo-title">Запись к врачу в один клик!</h1>
            <h1 class="title price-promo-title">Быстро и удобно!</h1>
        </div>
    </section>

    <section class="price">
        <div class="container">
            <table class="price-table">
                <thead>
                <tr class="price-table-head">
                    <th>Наименование услуги</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="accordion" class="ui-accordion">
                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        СТУДЕНТАМ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="students">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        СТОМАТОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="dantists">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ПРОФИЛАКТИЧЕСКИЕ ОСМОТРЫ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="prof">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ЛАБОРАТОРНЫЕ ИССЛЕДОВАНИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="lab">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        КОПМЛЕКСНЫЕ ПРОГРАММЫ РЕАБИЛИТАЦИИ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="complex">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ТЕРАПИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="therapy">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ХИРУРГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="surgery">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ФЛЕБОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="phlebology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        УРОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="urology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ОНКОЛОГИЯ-МАММОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="oncology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ГИНЕКОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="gynecology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ГАСТРОЭНТЕРОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="gastroenterology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ПУЛЬМОНОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="pulmonology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ОТОЛАРИНГОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="otolaryngology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ОФТАЛЬМОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="ophthalmology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        НЕВРОЛОГИЯ, РЕФЛЕКСОТЕРАПИЯ, МАНУАЛЬНАЯ ТЕРАПИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="neurology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ДЕРМАТОВЕНЕРОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="dermatovenerology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ЭНДОКРИНОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="endocrinology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        КАРДИОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="cardiology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ПСИХИАТР-НАРКОЛОГ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="narcology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ПСИХОТЕРАПИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="psychotherapy">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        КОСМЕТОЛОГИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="cosmetology">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ПРОЦЕДУРНЫЙ КАБИНЕТ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="procedural">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ФИЗИОТЕРАПИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="physiotherapy">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        УЛЬТРАЗВУКОВАЯ ДИАГНОСТИКА
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="ultrasound">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ФУНКЦИОНАЛЬНАЯ ДИАГНОСТИКА
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="functional">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        РЕНТГЕНОГРАФИЯ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="radiography">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ПРОЧИЕ УСЛУГИ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="other">
                    </td>
                </tr>

                <tr class="price-table-row ui-accordion-header">
                    <td colspan="3" class="table-title-category">
                        ВОССТАНОВИТЕЛЬНО-ПРОФИЛАКТИЧЕСКОЕ ОТДЕЛЕНИЕ
                        <span class="ui-accordion-header-icon"></span>
                    </td>
                </tr>
                <tr class="ui-accordion-content">
                    <td colspan="3" id="vpo">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="blog-news-section">
        <div class="container">
            <div class="blog">
                <h2 class="title blog-title">Блог о здоровье</h2>
                <ul class="blog-news-items">
                    <li class="blog-news-item">
                        <a href="#" class="blog-link">
                            <div class="blog-img">
                                <img src="img/blog/blog1.png" alt=""/>
                            </div>
                            <p class="blog-date">01.03. 2024</p>
                            <h3 class="blog-name">Статья 1</h3>
                        </a>
                    </li>
                    <li class="blog-news-item">
                        <a href="#" class="blog-link">
                            <div class="blog-img">
                                <img src="img/blog/blog2.png" alt=""/>
                            </div>
                            <p class="blog-date">15.02. 2024</p>
                            <h3 class="blog-name">Статья 2</h3>
                        </a>
                    </li>
                </ul>
                <a href="#" class="all-blog">Все статьи</a>
            </div>
            <div class="news">
                <h2 class="title news-title">Новости</h2>
                <ul class="blog-news-items">
                    <li class="blog-news-item">
                        <a href="#" class="news-link">
                            <div class="news-img">
                                <img src="img/news/news1.png" alt=""/>
                            </div>
                            <p class="blog-date">01.03. 2024</p>
                            <h3 class="blog-name">Новость 1</h3>
                        </a>
                    </li>
                    <li class="blog-news-item">
                        <a href="#" class="news-link">
                            <div class="news-img">
                                <img src="img/news/news2.png" alt=""/>
                            </div>
                            <p class="blog-date">15.02. 2024</p>
                            <h3 class="blog-name">Новость 2</h3>
                        </a>
                    </li>
                </ul>
                <a href="#" class="all-news">Все новости</a>
            </div>
        </div>
    </section>
</main>