<main>
    <section class="catalog">
        <div class="container">
            <div class="catalog-head">
                <h2 class="title catalog-title">Забота о вашем здоровье в сердце северной столицы</h2>
            </div>
            <ul class="catalog-items">
                <li class="catalog-item name-bottom" id="ultra-voice">
                    <a href="#" class="catalog-link">
                        <img src="img/catalog/ultravoice.png" alt="Ультразвуковое исследование">
                        <div class="catalog-name">Ультразвуковое исследование</div>
                    </a>
                </li>
                <li class="catalog-item name-bottom">
                    <a href="#" class="catalog-link">
                        <img src="img/catalog/oftalmolog.png" alt="Офтальмолог">
                        <div class="catalog-name">Офтальмолог</div>
                    </a>
                </li>
                <li class="catalog-item name-bottom">
                    <a href="#" class="catalog-link">
                        <img src="img/catalog/nevrous.png" alt="Невролог">
                        <div class="catalog-name">Невролог</div>
                    </a>
                </li>
                <li class="catalog-item name-top">
                    <a href="#" class="catalog-link">
                        <img src="img/catalog/gidromassazh.png" alt="Гидромассаж">
                        <div class="catalog-name">Гидромассаж</div>
                    </a>
                </li>
                <li class="catalog-item name-top" id="massage">
                    <a href="#" class="catalog-link">
                        <img src="img/catalog/massage.png" alt="Массаж">
                        <div class="catalog-name">Массаж</div>
                    </a>
                </li>
                <li class="catalog-item name-top">
                    <a href="#" class="catalog-link">
                        <img src="img/catalog/spa.png" alt="SPA – капсула">
                        <div class="catalog-name">SPA – капсула</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>