<div class="service" id="service">
    <section class="banner" id="banner">
        <div class="container">
            <h1 class="title banner-title" id="banner-title"></h1>
        </div>
    </section>

    <section class="main-description">
        <div class="container"></div>
    </section>

    <section class="advantages">
        <div class="container">
            <p class="advantage-title" id="advantage-title"></p>
            <div class="advantage-description" id="advantage-description"></div>
        </div>
    </section>

    <section class="description">
        <div class="container" id="description-container"></div>
    </section>

    <section class="gallery">
        <div class="swiper swiper-gallery">
            <div class="swiper-wrapper" id="swiper-wrapper"></div>
            <div class="swiper-gallery-pagination"></div>
        </div>
    </section>

    <div id="rules"></div>


    <section class="price">
        <div class="container">
            <h2 class="price-title">ЦЕНЫ</h2>
            <table class="price-table" id="price-table"></table>
        </div>
    </section>



    <section class="invitation">
        <div class="container">
            <p class="invitation-text" id="invitation-text"></p>
            <button type="button" class="btn btn-blue forward-call invitation-btn">ЗАПИСАТЬСЯ</button>
        </div>
    </section>
</div>