<main>
    <section class="banner">
        <div class="container">
            <h1 class="title banner-title">Диагностика и лечение <br> в центре Санкт-Петербурга</h1>
        </div>
    </section>

    <section class="description">
        <div class="container">
            <p class="text">
                В&nbsp;нашей Поликлинике представлены услуги для студентов и&nbsp;взрослых.
                Запишитесь на&nbsp;прием к&nbsp;терапевту или узкому специалисту. Доктор выслушает вас, направит на&nbsp;обследование,
                а&nbsp;затем подберет индивидуальный план лечения.
            </p>
        </div>
    </section>

    <section class="department">
        <div class="container">
            <div id="department-accordion" class="ui-accordion">
                <div class="ui-accordion-header">
                    <p class="department-title">
                        ЛЕЧЕБНО-ДИАГНОСТИЧЕСКОЕ ОТДЕЛЕНИЕ
                    </p>
                    <span class="ui-accordion-header-icon"></span>
                </div>
                <div class="ui-accordion-content">
                    <a href="#/service?id=1" class="service-element">
                        <img src="img/services/therapy.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=2" class="service-element">
                        <img src="img/services/surgery.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=3" class="service-element">
                        <img src="img/services/phlebology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=4" class="service-element">
                        <img src="img/services/urology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=5" class="service-element">
                        <img src="img/services/oncology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=6" class="service-element">
                        <img src="img/services/gynecology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=7" class="service-element">
                        <img src="img/services/gastroenterology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=8" class="service-element">
                        <img src="img/services/pulmonology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=9" class="service-element">
                        <img src="img/services/otolaryngology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=10" class="service-element">
                        <img src="img/services/ophthalmology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=11" class="service-element">
                        <img src="img/services/neurology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=12" class="service-element">
                        <img src="img/services/dermatovenerology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=13" class="service-element">
                        <img src="img/services/endocrinology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=14" class="service-element">
                        <img src="img/services/cardiology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=15" class="service-element">
                        <img src="img/services/dantist.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=16" class="service-element">
                        <img src="img/services/ultrasound.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=17" class="service-element">
                        <img src="img/services/procedural.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=18" class="service-element">
                        <img src="img/services/physiotherapy.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=19" class="service-element">
                        <img src="img/services/psychotherapy.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=20" class="service-element">
                        <img src="img/services/cosmetology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=21" class="service-element">
                        <img src="img/services/functional.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=22" class="service-element">
                        <img src="img/services/radiography.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=23" class="service-element">
                        <img src="img/services/other.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=24" class="service-element">
                        <img src="img/services/present.png" alt="" class="service-img">
                    </a>
                </div>

                <div class="ui-accordion-header">
                    <p class="department-title">
                        ВОССТАНОВИТЕЛЬНО-ПРОФИЛАКТИЧЕСКОЕ ОТДЕЛЕНИЕ
                    </p>
                    <span class="ui-accordion-header-icon"></span>
                </div>
                <div class="ui-accordion-content">
                    <a href="#/service?id=25" class="service-element">
                        <img src="img/services/massage.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=26" class="service-element">
                        <img src="img/services/hydrotherapy.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=27" class="service-element">
                        <img src="img/services/sauna.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=28" class="service-element">
                        <img src="img/services/spa-capsule.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=29" class="service-element">
                        <img src="img/services/solaris.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=30" class="service-element">
                        <img src="img/services/med-fisical.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=31" class="service-element">
                        <img src="img/services/fitnes.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=32" class="service-element">
                        <img src="img/services/cosmetology.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=33" class="service-element">
                        <img src="img/services/profilactic-other.png" alt="" class="service-img">
                    </a>
                    <a href="#/service?id=24" class="service-element">
                        <img src="img/services/present.png" alt="" class="service-img">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="popular-services">
        <div class="container">
            <h3 class="popular-title">Популярные услуги</h3>
            <div class="popular-list">
                <a href="#/service?id=18" class="popular-element">
                    <div class="popular-img">
                        <img src="img/services/popular-phisiotherapy.png" alt="">
                    </div>
                    <p class="service-title">
                        Физиотерапия
                    </p>
                </a>
                <a href="#/service?id=15" class="popular-element">
                    <div class="popular-img">
                        <img src="img/services/popular-dantist.png" alt="">
                    </div>
                    <p class="service-title">
                        Стоматология
                    </p>
                </a>
                <a href="#/service?id=20" class="popular-element">
                    <div class="popular-img">
                        <img src="img/services/popular-cosmetology.png" alt="">
                    </div>
                    <p class="service-title">
                        Косметология
                    </p>
                </a>
                <a href="#/service?id=34" class="popular-element">
                    <div class="popular-img">
                        <img src="img/services/popular-gidromassage.png" alt="">
                    </div>
                    <p class="service-title">
                        Гидромассаж
                    </p>
                </a>
            </div>
        </div>
    </section>

    <section class="form">
        <div class="container" id="form-container">
            <h3 class="form-title">Хотите, мы Вам перезвоним?</h3>
            <p class="form-text">
                Оставьте заявку и мы подробно ответим на все Ваши вопросы!
            </p>
            <form action="" method="post" class="forward-form services-form">
                <div class="form-group">
                    <label class="form-label">
                        <input class="name-input base-input" type="text" placeholder="Имя">
                    </label>
                    <div class="error-base-input error-input">Необходимо ввести ваше имя</div>
                </div>
                <div class="form-group">
                    <label class="phone-input form-label phone">
                        <button type="button" class="btn-number num-code">+7</button>
                        <input type="text" class="base-input" placeholder="Телефон" id="phone">
                    </label>
                    <div class="error-base-input error-input">Необходимо ввести ваш телефон</div>
                </div>
                <button type="button" class="btn btn-blue" id="process-btn">ОТПРАВИТЬ</button>
                <p class="option-description">
                    Нажимая на кнопку <u>«Отправить»</u>, <br>
                    Вы соглашаетесь на обработку персональных данных
                </p>
            </form>
        </div>
        <div class="form-msg">
            <div class="container">
                <p class="success-text">
                    Спасибо, мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время!
                </p>
            </div>
        </div>
    </section>

    <section class="blog-news-section">
        <div class="container">
            <div class="blog">
                <h2 class="title blog-title">Блог о здоровье</h2>
                <ul class="blog-news-items">
                    <li class="blog-news-item">
                        <a href="#" class="blog-link">
                            <div class="blog-img">
                                <img src="img/blog/blog1.png" alt=""/>
                            </div>
                            <p class="blog-date">01.03. 2024</p>
                            <h3 class="blog-name">Как влияет курение на здоровье полости рта?</h3>
                        </a>
                    </li>
                    <li class="blog-news-item">
                        <a href="#" class="blog-link">
                            <div class="blog-img">
                                <img src="img/blog/blog2.png" alt=""/>
                            </div>
                            <p class="blog-date">15.02. 2024</p>
                            <h3 class="blog-name">Фитнес дома</h3>
                        </a>
                    </li>
                </ul>
                <a href="#" class="all-blog">Все статьи</a>
            </div>
            <div class="news">
                <h2 class="title news-title">Новости</h2>
                <ul class="blog-news-items">
                    <li class="blog-news-item">
                        <a href="#" class="news-link">
                            <div class="news-img">
                                <img src="img/news/news1.png" alt=""/>
                            </div>
                            <p class="blog-date">01.03. 2024</p>
                            <h3 class="blog-name">Симптоматика и ранняя диагностика эндокринных заболеваний</h3>
                        </a>
                    </li>
                    <li class="blog-news-item">
                        <a href="#" class="news-link">
                            <div class="news-img">
                                <img src="img/news/news2.png" alt=""/>
                            </div>
                            <p class="blog-date">15.02. 2024</p>
                            <h3 class="blog-name">Профосмотр: легко, быстро и удобно.</h3>
                        </a>
                    </li>
                </ul>
                <a href="#" class="all-news">Все новости</a>
            </div>
        </div>
    </section>
</main>