<main>
    <section class="specialists-info">
        <div class="container">
            <div class="specialist-image">
                <img src="img/employees/khrustaleva.png" alt="" id="specialist-image">
            </div>
            <div class="specialist-info">
                <h2 class="specialist-name" id="specialist-name"><span class="big">Хрусталева</span> Татьяна Михайловна
                </h2>
                <dl id="description">
                    <dt class="description-name" id="specialization">Специализация</dt>
                </dl>
                <p class="experience" id="experience"></p>
                <div class="specialist-action">
                    <button class="btn spec-btn" id="spec-btn">Записаться</button>
                </div>
            </div>
        </div>
    </section>

    <section class="education">
        <div class="container">
            <div class="education-block" id="education-block">
                <h3 class="edu-title">Образование</h3>
            </div>
            <div class="certificate-block">
                <h3 class="edu-title">Сертификаты</h3>
                <div class="popup-gallery">
                    <a href="img/certificates/1.png">
                        <img src="img/certificates/1.png" alt="">
                    </a>
                    <a href="img/certificates/2.png">
                        <img src="img/certificates/2.png" alt="">
                    </a>
                    <a href="img/certificates/3.png">
                        <img src="img/certificates/3.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="other">
        <div class="container">
            <div class="other-more">
                <h3 class="other-title">Другие специалисты</h3>
                <button type="button" class="nav-other" id="nav-other">
                    <img src="img/icons/arrow-left-red.svg" alt="" />
                </button>
            </div>
            <div class="swiper swiper-doctors">
                <div class="swiper-wrapper" id="swiper-wrapper">
                </div>
                <div class="swiper-doctors-pagination"></div>
            </div>
        </div>
    </section>
</main>